In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/home/rk/orgs_final1.csv')

In [3]:
data.shape

(107536, 14)

In [4]:
data.head()

,company_name,employee_count,location,no_of_founders,no_of_funding_rounds,no_of_board_members,description,amount_raised,label,industry_vertical,age_months,last_funding_status,no_of_investors,social_media_presence
0,Grown Ocean,1-10,northeast,0,1,0,Grown Ocean is the mobile app for planning you...,250000.0,unsucessful,Travel and Tourism,52,seed,0,1.0
1,Adaptive Media,10000+,west,0,1,0,Adaptive Media is an audience and content mone...,15000000.0,unsucessful,Internet Services,88,series_unknown,0,1.0
2,Gazelle Lab,1-10,southeast,3,1,0,"Gazelle Lab is a TechStars Network member, men...",0.0,unsucessful,Financial Services,93,series_unknown,1,1.0
3,HealthAxis Group,251-500,southeast,0,1,0,The HealthAxis Group seeks to reboot healthcar...,57000000.0,unsucessful,Health Care,100,private_equity,1,1.0
4,Wokrr,1-10,west,1,1,0,"Wokrr is based in San Jose, California, United...",1111.0,unsucessful,others,40,seed,0,0.0

In [5]:
data.drop(columns=['label'],inplace=True)

In [6]:
data['last_funding_status'].unique()

array(['seed', 'series_unknown', 'private_equity', 'series_a',
       'corporate_round', 'series_c', 'post_ipo_equity', 'series_b',
       'grant', 'undisclosed', 'angel', 'non_equity_assistance',
       'debt_financing', 'equity_crowdfunding', 'pre_seed',
       'convertible_note', 'series_d', 'product_crowdfunding',
       'secondary_market', 'series_e', 'series_f',
       'initial_coin_offering', 'post_ipo_debt', 'No_funding', 'series_g',
       'series_h', 'series_i'], dtype=object)

In [7]:
def ret_fundNonFund(x):
    if x=='No_funding':
        return 0
    else:
        return 1

In [8]:
data['funding_status'] = data['last_funding_status'].apply(lambda x: ret_fundNonFund(x))

In [9]:
data.drop(columns=['last_funding_status'],inplace=True)

In [10]:
for column in ['employee_count', 'location','industry_vertical']:
    dummies = pd.get_dummies(data[column],prefix=column)
    data[dummies.columns] = dummies
data.head()

,company_name,employee_count,location,no_of_founders,no_of_funding_rounds,no_of_board_members,description,amount_raised,industry_vertical,age_months,...,industry_vertical_Real Estate,industry_vertical_Sales and Marketing,industry_vertical_Science and Engineering,industry_vertical_Software,industry_vertical_Sports,industry_vertical_Sustainability,industry_vertical_Transportation,industry_vertical_Travel and Tourism,industry_vertical_Video,industry_vertical_others
0,Grown Ocean,1-10,northeast,0,1,0,Grown Ocean is the mobile app for planning you...,250000.0,Travel and Tourism,52,...,0,0,0,0,0,0,0,1,0,0
1,Adaptive Media,10000+,west,0,1,0,Adaptive Media is an audience and content mone...,15000000.0,Internet Services,88,...,0,0,0,0,0,0,0,0,0,0
2,Gazelle Lab,1-10,southeast,3,1,0,"Gazelle Lab is a TechStars Network member, men...",0.0,Financial Services,93,...,0,0,0,0,0,0,0,0,0,0
3,HealthAxis Group,251-500,southeast,0,1,0,The HealthAxis Group seeks to reboot healthcar...,57000000.0,Health Care,100,...,0,0,0,0,0,0,0,0,0,0
4,Wokrr,1-10,west,1,1,0,"Wokrr is based in San Jose, California, United...",1111.0,others,40,...,0,0,0,0,0,0,0,0,0,1

In [11]:
data.drop(columns=['employee_count', 'location','industry_vertical','company_name','description'],inplace=True)
data.head()

,no_of_founders,no_of_funding_rounds,no_of_board_members,amount_raised,age_months,no_of_investors,social_media_presence,funding_status,employee_count_1-10,employee_count_10000+,...,industry_vertical_Real Estate,industry_vertical_Sales and Marketing,industry_vertical_Science and Engineering,industry_vertical_Software,industry_vertical_Sports,industry_vertical_Sustainability,industry_vertical_Transportation,industry_vertical_Travel and Tourism,industry_vertical_Video,industry_vertical_others
0,0,1,0,250000.0,52,0,1.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,15000000.0,88,0,1.0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1,0,0.0,93,1,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,57000000.0,100,1,1.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,1111.0,40,0,0.0,1,1,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
data_temp=data

In [13]:
unseuc_dataset=data_temp.loc[data_temp['funding_status']==0]
unseuc_dataset.shape

(65539, 71)

In [14]:
succ_dataset=data_temp.loc[data_temp['funding_status']==1]
succ_dataset.shape

(41997, 71)

In [15]:
tot_1=data_temp['funding_status'].value_counts()[1]
tot_0=data_temp['funding_status'].value_counts()[0]
print(tot_0,tot_1)

65539 41997

In [16]:
data_temp.sort_values(by=['funding_status']).head()

,no_of_founders,no_of_funding_rounds,no_of_board_members,amount_raised,age_months,no_of_investors,social_media_presence,funding_status,employee_count_1-10,employee_count_10000+,...,industry_vertical_Real Estate,industry_vertical_Sales and Marketing,industry_vertical_Science and Engineering,industry_vertical_Software,industry_vertical_Sports,industry_vertical_Sustainability,industry_vertical_Transportation,industry_vertical_Travel and Tourism,industry_vertical_Video,industry_vertical_others
53767,0,0,0,0.0,95,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71627,1,0,0,0.0,76,0,1.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
71626,0,0,0,0.0,76,0,1.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
71625,0,0,0,0.0,64,0,1.0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
71624,0,0,0,0.0,92,0,1.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
percent_of0_data=tot_0/(tot_1+tot_0)
num1=percent_of0_data*len(unseuc_dataset)
num2=(1-percent_of0_data)*len(unseuc_dataset)
#print(percent_of0_data*len(unseuc_dataset))
x_train_0=unseuc_dataset[:int(percent_of0_data*len(unseuc_dataset))]
x_train_1=succ_dataset[:int((percent_of0_data)*len(succ_dataset))]
x_train=pd.concat([x_train_0,x_train_1])
#print(x_train.shape)
x_test_0=unseuc_dataset[int(percent_of0_data*len(unseuc_dataset)):]
x_test_1=succ_dataset[int((percent_of0_data)*len(succ_dataset)):]
x_test=pd.concat([x_test_0,x_test_1])
#print(x_test.shape)
print(x_train.shape,x_test.shape)

(65538, 71) (41998, 71)

In [18]:
from sklearn.utils import shuffle
x_train=shuffle(x_train)
x_test=shuffle(x_test)

In [19]:
y_train=x_train['funding_status']
y_train.head()

17207    1
15590    1
60021    0
47032    0
75672    0
Name: funding_status, dtype: int64

In [20]:
y_test=x_test['funding_status']
y_test.head()

90252     0
26471     1
102021    0
103828    0
31964     1
Name: funding_status, dtype: int64

In [21]:
x_train=x_train.drop(columns=['funding_status','no_of_funding_rounds','amount_raised','no_of_investors'])
x_test=x_test.drop(columns=['funding_status','no_of_funding_rounds','amount_raised','no_of_investors'])

In [22]:
print(y_train.shape)
print(x_train.shape,x_test.shape)

(65538,)
(65538, 67) (41998, 67)

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc, confusion_matrix, classification_report,accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import KFold
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn import preprocessing, metrics
#from xgboost import XGBClassifier

In [24]:
clfs = {
'LogisticRegression' : LogisticRegression(),
'GaussianNB': GaussianNB(),
'RandomForest': RandomForestClassifier(),
'DecisionTreeClassifier': DecisionTreeClassifier(),
'SVM': SVC(),
'KNeighborsClassifier': KNeighborsClassifier(),
'GradientBoosting': GradientBoostingClassifier(),
}

In [25]:
models_report = pd.DataFrame(columns = ['Model', 'Precision_score', 'Recall_score','F1_score', 'Accuracy'])

for clf, clf_name in zip(clfs.values(), clfs.keys()):
    clf.fit(x_train,y_train)
    y_pred = clf.predict(x_test)
    print(y_pred)
    y_score = clf.score(x_test,y_test)
    
    #print('Calculating {}'.format(clf_name))
    t = pd.Series({ 
                     'Model': clf_name,
                     'Precision_score': metrics.precision_score(y_test, y_pred),
                     'Recall_score': metrics.recall_score(y_test, y_pred),
                     'F1_score': metrics.f1_score(y_test, y_pred),
                     'Accuracy': metrics.accuracy_score(y_test, y_pred)}
                   )

    models_report = models_report.append(t, ignore_index = True)

models_report

/home/rk/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

[0 0 0 ... 1 0 1]
[1 0 1 ... 1 1 1]

/home/rk/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[1 0 0 ... 0 0 1]
[1 0 0 ... 1 0 1]

/home/rk/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[0 0 0 ... 1 0 1]
[0 1 0 ... 1 0 1]
[0 0 0 ... 1 0 1]

                    Model  Precision_score  Recall_score  F1_score  Accuracy
0      LogisticRegression         0.630771      0.388184  0.480601  0.672318
1              GaussianNB         0.535454      0.533593  0.534522  0.637054
2            RandomForest         0.491541      0.384404  0.431421  0.604291
3  DecisionTreeClassifier         0.494649      0.377637  0.428295  0.606267
4                     SVM         0.559341      0.333313  0.417711  0.637078
5    KNeighborsClassifier         0.491281      0.348677  0.407874  0.604624
6        GradientBoosting         0.606621      0.392147  0.476356  0.663293

In [26]:
x_train.columns.values.tolist()

['no_of_founders',
 'no_of_board_members',
 'age_months',
 'social_media_presence',
 'employee_count_1-10',
 'employee_count_10000+',
 'employee_count_1001-5000',
 'employee_count_101-250',
 'employee_count_11-50',
 'employee_count_251-500',
 'employee_count_5001-10000',
 'employee_count_501-1000',
 'employee_count_51-100',
 'employee_count_unknown',
 'location_midwest',
 'location_northeast',
 'location_others',
 'location_southeast',
 'location_southwest',
 'location_west',
 'industry_vertical_Administrative Services',
 'industry_vertical_Advertising',
 'industry_vertical_Agriculture and Farming',
 'industry_vertical_Apps',
 'industry_vertical_Artificial Intelligence',
 'industry_vertical_Biotechnology',
 'industry_vertical_Clothing and Apparel',
 'industry_vertical_Commerce and Shopping',
 'industry_vertical_Community and Lifestyle',
 'industry_vertical_Consumer Electronics',
 'industry_vertical_Consumer Goods',
 'industry_vertical_Content and Publishing',
 'industry_vertical_Data and Analytics',
 'industry_vertical_Design',
 'industry_vertical_Education',
 'industry_vertical_Energy',
 'industry_vertical_Events',
 'industry_vertical_Financial Services',
 'industry_vertical_Food and Beverage',
 'industry_vertical_Gaming',
 'industry_vertical_Government and Military',
 'industry_vertical_Hardware',
 'industry_vertical_Health Care',
 'industry_vertical_Information Technology',
 'industry_vertical_Internet Services',
 'industry_vertical_Lending and Investments',
 'industry_vertical_Manufacturing',
 'industry_vertical_Media and Entertainment',
 'industry_vertical_Messaging and Telecommunications',
 'industry_vertical_Mobile',
 'industry_vertical_Music and Audio',
 'industry_vertical_Natural Resources',
 'industry_vertical_Navigation and Mapping',
 'industry_vertical_Payments',
 'industry_vertical_Platforms',
 'industry_vertical_Privacy and Security',
 'industry_vertical_Professional Services',
 'industry_vertical_Real Estate',
 'industry_vertical_Sales and Marketing',
 'industry_vertical_Science and Engineering',
 'industry_vertical_Software',
 'industry_vertical_Sports',
 'industry_vertical_Sustainability',
 'industry_vertical_Transportation',
 'industry_vertical_Travel and Tourism',
 'industry_vertical_Video',
 'industry_vertical_others']