In [1]:
import pandas as pd

In [2]:
organisations = pd.read_csv("/home/rk/raj_data_cb/organizations.csv")

/home/rk/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
jobs=pd.read_csv('/home/rk/raj_data_cb/jobs.csv')

In [4]:
degrees=pd.read_csv('/home/rk/raj_data_cb/degrees.csv')

In [7]:
funding_rounds=pd.read_csv('/home/rk/raj_data_cb/funding_rounds.csv')

In [8]:
funds=pd.read_csv('/home/rk/raj_data_cb/funds.csv')

In [9]:
investment_partners=pd.read_csv('/home/rk/raj_data_cb/investment_partners.csv')

In [10]:
investments=pd.read_csv('/home/rk/raj_data_cb/investments.csv')

In [11]:
investors=pd.read_csv('/home/rk/raj_data_cb/investors.csv')

In [12]:
org_investments=pd.read_csv('/home/rk/raj_data_cb/org_investments.csv')

/home/rk/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
people=pd.read_csv('/home/rk/raj_data_cb/people.csv')

In [14]:
person_investments=pd.read_csv('/home/rk/raj_data_cb/person_investments.csv')

In [15]:
jobs.head(2)

,person_uuid,org_uuid,job_uuid,started_on,ended_on,is_current,title,job_type
0,b42a4f1c-1bed-4390-bce9-0352e5861080,c75dfb95-7099-4597-be14-e31201c65b99,b9ff7ca3-d3bd-4ff6-991d-32cd38710e07,2014-11-01,NaN,t,Vice President and Senior Project Manager,executive
1,7b2fd4b2-ca20-40f2-b6f1-73401022a19d,79609a18-e5ba-5be3-63e7-1fbbf6db8334,8dcdc062-1c0d-47b6-9fc9-1b337a62de99,NaN,NaN,t,Senior Vice President,executive

In [30]:
investment_partners.columns

Index(['funding_round_uuid', 'investor_uuid', 'partner_uuid'], dtype='object')

In [27]:
funding_rounds.head(2)

,company_name,country_code,state_code,region,city,investment_type,announced_on,raised_amount_usd,raised_amount,raised_amount_currency_code,...,post_money_valuation,post_money_currency_code,investor_count,cb_url,company_uuid,funding_round_uuid,created_at,updated_at,investor_names,investor_uuids
0,OnPath Technologies,USA,NJ,NJ - Other,Marlton,series_a,2007-03-17,8500000.0,NaN,NaN,...,NaN,NaN,NaN,https://www.crunchbase.com/funding-round/onpat...,dfaccc94-3874-9fa7-f1f9-680dbd7d5f2c,00006645-9ef6-8958-129a-2e225e577eb8,2010-12-14 07:02:56,2018-02-12 23:37:51,{},{}
1,Distributed ID,CAN,ON,Toronto,Toronto,seed,2017-02-01,103461.0,135000.0,CAD,...,2135000.0,CAD,NaN,https://www.crunchbase.com/funding-round/distr...,abb6101f-f808-fa9a-ec1c-1f7b4cc64513,00014924-0e2b-bd9e-65b9-da6cc58959dd,2017-07-08 03:31:12,2018-07-17 07:46:49,{},{}

In [18]:
funds.head(2)

,entity_uuid,fund_uuid,fund_name,announced_on,raised_amount,raised_amount_currency_code,created_at,updated_at
0,f1b977be-3e88-4a7c-aed5-93a502710675,f9a86188-e0f8-42a4-b784-599bd96c134b,100K Ventures Accelerator Group,NaN,NaN,NaN,2018-12-18 20:13:16,2018-12-18 20:13:16
1,96712e17-5941-6c09-3124-176e08daa746,5509d7da-46cd-46b0-81fc-305c3da84657,1517 Fund,NaN,NaN,NaN,2017-11-14 16:07:57,2018-02-12 22:48:01

In [56]:
k=organisations.columns.tolist()

In [57]:
l=''
for itm in k:
    l=l+itm
    l=l+','
l

'Unnamed: 0,company_name,roles,permalink,domain,homepage_url,country_code,state_code,region,city,address,status,short_description,category_list,category_group_list,funding_rounds,funding_total_usd,founded_on,last_funding_on,closed_on,employee_count,email,phone,facebook_url,linkedin_url,cb_url,logo_url,twitter_url,aliases,uuid,created_at,updated_at,primary_role,type,description,'

In [20]:
investors.head(2)

,investor_name,roles,domain,country_code,state_code,region,city,investor_type,investment_count,total_funding_usd,founded_on,closed_on,cb_url,logo_url,twitter_url,facebook_url,uuid,updated_at
0,--,investor,NaN,SGP,NaN,NaN,Singapore,venture_capital,NaN,NaN,2014-01-01,NaN,https://www.crunchbase.com/organization/id-cap...,https://crunchbase-production-res.cloudinary.c...,NaN,NaN,f1a062d3-0aa9-4fb3-a567-26bcb65c10f7,2018-09-30 14:25:14
1,--,investor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.crunchbase.com/organization/zernik...,https://crunchbase-production-res.cloudinary.c...,NaN,NaN,fa76148d-89b1-cd6c-8bf9-01129a37c7aa,2018-03-21 15:20:08

In [21]:
investments.head(2)

,funding_round_uuid,investor_uuid,is_lead_investor
0,00015b5a-54e6-4285-9c9e-2374cb608dd7,47d6eee4-c487-c86e-2c21-dafcf1125f62,t
1,0001cbd1-f7e2-4a56-607c-c57f46cc7dcb,3213cd7d-06e0-3ecb-3359-29aa8deddfa6,NaN

In [24]:
org_investments.head(2)

,investor_name,roles_x,domain_x,country_code_x,state_code_x,region_x,city_x,investor_type,investment_count,total_funding_usd,...,linkedin_url,cb_url_y,logo_url_y,twitter_url_y,aliases,created_at_y,updated_at,primary_role,type,description
0,EASME - EU Executive Agency for SMEs,"company,investor",ec.europa.eu,BEL,NaN,11,Brussels,government_office,2602.0,NaN,...,https://www.linkedin.com/company/executive-age...,https://www.crunchbase.com/organization/easme,https://crunchbase-production-res.cloudinary.c...,https://twitter.com/eu_easme,"EASME,Executive Agency for SMEs",2013-03-18 17:36:58,2019-04-01 23:48:57,company,organization,The Executive Agency for Small and Medium-size...
1,EASME - EU Executive Agency for SMEs,"company,investor",ec.europa.eu,BEL,NaN,11,Brussels,government_office,2602.0,NaN,...,https://www.linkedin.com/company/executive-age...,https://www.crunchbase.com/organization/easme,https://crunchbase-production-res.cloudinary.c...,https://twitter.com/eu_easme,"EASME,Executive Agency for SMEs",2013-03-18 17:36:58,2019-04-01 23:48:57,company,organization,The Executive Agency for Small and Medium-size...

In [23]:
person_investments.head(2)

,investor_name,roles,domain,country_code_x,state_code_x,region_x,city_x,investor_type,investment_count,total_funding_usd,...,logo_url_y,twitter_url_y,facebook_url_y,linkedin_url,primary_affiliation_organization,primary_affiliation_title,primary_organization_uuid,gender,created_at_y,updated_at
0,Alfonso Villanueva,investor,NaN,USA,CA,CA,NaN,angel,16.0,NaN,...,https://crunchbase-production-res.cloudinary.c...,http://twitter.com/alfvilla,NaN,http://www.linkedin.com/pub/alfonso-villanueva...,PayPal,Global Head Strategy and Office of the CEO,96ab87ca-00b5-2ebc-f218-86262954e320,male,2013-07-23 21:38:11,2018-08-29 21:31:09
1,Alfonso Villanueva,investor,NaN,USA,CA,CA,NaN,angel,16.0,NaN,...,https://crunchbase-production-res.cloudinary.c...,http://twitter.com/alfvilla,NaN,http://www.linkedin.com/pub/alfonso-villanueva...,PayPal,Global Head Strategy and Office of the CEO,96ab87ca-00b5-2ebc-f218-86262954e320,male,2013-07-23 21:38:11,2018-08-29 21:31:09

In [25]:
people.head(2)

,first_name,last_name,country_code,state_code,city,cb_url,logo_url,twitter_url,facebook_url,linkedin_url,primary_affiliation_organization,primary_affiliation_title,primary_organization_uuid,gender,uuid,created_at,updated_at
0,Jenny,Umeda,NaN,NaN,NaN,https://www.crunchbase.com/person/jenny-umeda,https://crunchbase-production-res.cloudinary.c...,http://twitter.com/jennyopps,NaN,NaN,NaN,NaN,NaN,female,be11bd38-f9fd-1909-1246-432843bb4c16,2014-01-27 06:04:29,2018-02-12 23:55:36
1,WARAPHONG,LEKSAKULCHAI,NaN,NaN,NaN,https://www.crunchbase.com/person/waraphong-le...,https://crunchbase-production-res.cloudinary.c...,NaN,NaN,NaN,NaN,NaN,NaN,not_provided,42b3b0e1-6fc2-070a-ad83-dd78a57c7e5f,2013-10-02 11:36:50,2018-02-13 00:18:31